<%= form_with model: list do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% list.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% list.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: list.status || 'Open' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>