<p>
  Displaying <%= List.open_count %> open lists out of <%= List.total_count %> total lists
</p>

<p>Select a list to view task details</p>

<ul>
  <% @lists.each do |list| %>
    <li>
    <% if list.closed? %>
    ✅
    <% else %>
    ⬜
    <% end %>
      <span style="font-weight: bold"> <%= link_to list.title, list %></span>: 
      <span><%= list.description %></span>
    </li>
  <% end %>
</ul>

<%= link_to "Create New List", new_list_path %>